<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button
            label="Delete"
            icon="pi pi-trash"
            severity="secondary"
            outlined
            (onClick)="deleteSelectedFolders()"
            [disabled]="!selectedFolders || !selectedFolders.length"
        />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="folders"
    [rows]="10"
    [paginator]="true"
    [(selection)]="selectedFolders"
    dataKey="id"
    [rowHover]="true"
    [globalFilterFields]="['type','reglePaiement','company.name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} folders"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Folders</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </span>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
            <th pSortableColumn="dateGenerate">Date Génération <p-sortIcon field="dateGenerate" /></th>
            <th pSortableColumn="type">Type <p-sortIcon field="type" /></th>
            <th pSortableColumn="reglePaiement">Règle Paiement <p-sortIcon field="reglePaiement" /></th>
            <th style="min-width:10rem"></th>
        </tr>
    </ng-template>

    <ng-template #body let-folder>
        <tr>
            <td style="width: 3rem"><p-tableCheckbox [value]="folder" /></td>
            <td>{{ folder.id }}</td>
            <td>{{ folder.dateGenerate | date: 'shortDate' }}</td>
            <td>{{ folder.type }}</td>
            <td>{{ folder.reglePaiement }}</td>
        </tr>
    </ng-template>
</p-table>

<!-- DIALOG FORM -->
<p-dialog [(visible)]="folderDialog" [style]="{ width: '450px' }" header="Folder Details" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-4">
            <div>
                <label for="dateGenerate" class="block font-bold mb-2">Date Génération</label>
                <input type="date" pInputText id="dateGenerate" [(ngModel)]="folder.dateGenerate" required />
                <small class="text-red-500" *ngIf="submitted && !folder.dateGenerate">Date is required.</small>
            </div>
            <div>
                <label for="type" class="block font-bold mb-2">Type</label>
                <input type="text" pInputText id="type" [(ngModel)]="folder.type" required placeholder="Ex: Fiscalité" />
                <small class="text-red-500" *ngIf="submitted && !folder.type">Type is required.</small>
            </div>
            <div>
                <label for="reglePaiement" class="block font-bold mb-2">Règle Paiement</label>
                <input type="text" pInputText id="reglePaiement" [(ngModel)]="folder.reglePaiement" />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveFolder()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
